body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 70px;
    max-width: 410px;
    height: 560px;
    border: 1px solid #9C9C9C;
    background-color: #2980b9;
}

.form-group{
    margin-bottom: 4px;
}

.text-my {
    color: #faf3f2 !important;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 18px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}